.content {
  width: 880px;
  height: 913px;
}

@media screen and (min-width: 544px) and (max-width: 1023px) {
  .content {
    width: 100%;
    max-width: 768px;
  }
}

@media screen and (max-width: 543px) {
  .content {
    width: 100%;
    height: auto;
    max-width: 282px;
    margin-top: 42px;
  }
}