.footer {
  width: 100%;
  max-width: 880px;
  margin: 67px auto 0;
}

.footer__copyright {
  font-family: "Inter";
  font-size: 18px;
  font-weight: normal;
  line-height: 1.63;
  color: #545454;
  text-align: left;
  align-self: flex-start;
  padding-left: 0;
}

@media screen and (min-width: 544px) and (max-width: 1023px) {
  .footer {
    width: 100%;
    max-width: 768px;
    margin: 50px auto 0;
    padding: 0 20px;
  }
}

@media screen and (max-width: 543px) {
  .footer {
    width: 100%;
    max-width: 282px;
    height: auto;
    margin: 50px auto 0;
    display: flex;
    justify-content: flex-start;
  }

  .footer__copyright {
    font-family: "Inter";
    font-size: 14px;
    font-weight: normal;
    line-height: 1.63;
    color: #545454;
    text-align: left;
    padding: 0;
  }
}